* {
  /* border: 0.5px solid red; */
  font-family: 'Spectral', serif;
  color: white;
  text-shadow: #FC0 2px 0 10px;
}

h1,
h2 {
  margin-top: 5px;
  margin-bottom: 0px;
}

h2 {
  padding-top: 0;
  padding-bottom: 0;
}

#subtitle {
  margin-top: 0px;
  margin-bottom: 5px;
}

.div_start_game {
  text-align: center;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#btn_restart,
#btn_fight,
#btn_startGame {
  background-color: rgba(0, 0, 0, 0);
}

#btn_startGame {
  font-size: 30px;
}

#btn_startGame:hover {
  color: white;
  text-shadow: #FC0 5px 0 10px;
}

#btn_startGame:active {
  background-color:rgba(148, 62, 13, 0.5);
  border: rgb(148, 62, 13);
  outline: #FC0 1px solid;
}

#btn_startGame:focus
#btn_restart:focus,
#btn_fight:focus {
  outline: none;
}

img {
  border: 26px grey solid;
}

.chars {
  padding: 0;
}

.out_hp {
  height: 30px;
  width: 152px;
  position: absolute;
  top: 70%;
  color: white;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 1.5em;
  padding-top: 17px;
  text-align: center;
  z-index: 1;
}

.out_name {
  height: 30px;
  width: 152px;
  position: absolute;
  top: -12.5%;
  color: white;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 1.5em;
  padding-top: 17px;
  text-align: center;
  z-index: 1;
}

h1 {
  font-size: 75px;
}

h2 {
  margin: 10px 0 10px 0;
}

span {
  background-color: rgba(65, 67, 68, 0.5);
}

html {
  background: url('../images/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
}

.selectable_enemies img {
  border: 26px rgb(238, 108, 47) solid;
}

.playing_enemy img {
  border: 26px rgb(221, 5, 5) solid;
}

.div_select_char {
 margin-left: 0;
}